* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
}

body {
  background-color: #292929;
  overflow-x: hidden;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #c2c2c2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  background-color: #4d4d4d;
  width: 100%;
  min-height: 60px;
  -webkit-box-shadow: 0 0 20px #000;
          box-shadow: 0 0 20px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2em;
}

.logo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  line-height: normal;
}

.conteiner {
  max-width: 62.5rem;
  margin: 0 auto;
  padding: 3rem .625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 3rem;
}

.main-cart {
  width: 100%;
  min-height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.main-cart__text {
  padding: 1.5rem;
}

.main-cart__text h1 {
  text-align: center;
}

.main-cart__blok {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.blok-mini {
  background-color: #cacaca;
  border-radius: 5px;
  text-align: center;
  padding: .5% 1%;
}

.blok-mini h4 {
  color: #000;
  font-size: 1.25rem;
  font-weight: 500;
}

.cart {
  width: 100%;
  max-height: 300px;
  -webkit-box-shadow: 0 0 10px #030303;
          box-shadow: 0 0 10px #030303;
  border-radius: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  padding: 4%;
}

.cart:hover {
  -webkit-box-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black;
          box-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black;
  background-color: #252525;
}

.cart .blok-mini h4 {
  font-size: .8rem;
}

.cart > * + * {
  margin-top: 1rem;
}

.cart__text {
  width: 100%;
  height: 100%;
}

.cart__text h2 {
  font-size: 2rem;
  text-align: center;
}

.main-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  margin: 50px 0;
}

.main-article aside {
  width: 300px;
  min-height: 300px;
}

.main-article .conteiner-article {
  width: 62.5rem;
}

.main-article .conteiner-article article {
  width: 100%;
  min-height: 100px;
  padding: 0 2%;
}

.main-article .conteiner-article article a {
  color: #619EC1;
}

.main-article .conteiner-article article .header h1 {
  font-size: 2.25rem;
  margin: .5em 0;
}

.main-article .conteiner-article article .main {
  margin: 2% 0;
}

.main-article .conteiner-article article .main > * + *,
.main-article .conteiner-article article .footer {
  margin-top: 2%;
}

.code {
  background-color: #000;
  padding: 1%;
  border-radius: 5px;
  font-size: 1rem;
  line-height: 1;
}

.code code .blue {
  color: #619EC1;
}

.code code .red {
  color: #E06C60;
}

.code code .yello {
  color: #E1B670;
}

.code code .feolet {
  color: #B274D9;
}

time {
  font-size: 1rem;
}

footer {
  width: 100%;
  min-height: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

@media (min-width: 1000px) {
  .main-article .conteiner-article article {
    padding: 0 4%;
  }
}

@media (max-width: 1000px) {
  .main-article aside {
    display: none;
  }
}

@media (max-width: 800px) {
  .logo {
    font-size: 32px;
  }

  .cart__text h2 {
    font-size: 1.5rem;
  }

  .code {
    font-size: .8rem;
  }
}